# VS Code
.vscode/

# Ignore all files and directories under the storage directory
# storage/
storage/*

# Exclude storage/gitlab/init.scripts from being ignored
!storage/gitlab/init.scripts/

# Include all files inside the storage/gitlab/init.scripts directory
!storage/gitlab/init.scripts/*